*~
aclocal.m4
AUTHORS
autoconf.h
autoconf.h.in
autom4te.cache
_build
_build/
ChangeLog
config.log
config.status
configure
configure
configure.ac
configure.scan
COPYING
core
cscope.*
.deps/
INSTALL
_install
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
NEWS
.nfs*
*.o
README
scripts
scripts/
stamp-h*
.*.sw[op]
THANKS
TODO
xde-session-*.tar.xz
src/xde-autostart
src/xde-chooser
src/xde-input
src/xde-logout
src/xde-session
src/xde-xchooser
src/xde-wmproxy
src/xde-xlogin
src/xde-xlock
src/xde-xsession
src/xde-login
src/test-login
src/test-root
