*~
aclocal.m4
AUTHORS
autoconf.h
autoconf.h.in
autom4te.cache
_build
_build/
ChangeLog
config
config.log
config.status
configure
configure
configure.ac
configure.scan
COPYING
core
cscope.*
.deps/
INSTALL
_install
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
NEWS
.nfs*
*.o
rc.m4
README
scripts
scripts/
stamp-h*
.*.sw[op]
THANKS
TODO
xde-session-*.tar.xz
xde-autostart
xde-chooser
xde-input
xde-logout
xde-session
xde-xchooser
xde-wmproxy
xde-xlogin
xde-xsession
xde-login
test-login
test-root
