*~
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
COPYING
core
cscope.*
.deps/
INSTALL
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
*.o
README
README.html
README.txt
scripts/
stamp-h*
.*.sw[mnop]
*.tar.*
*.tmp
xde-session-*.tar.xz
src/test-login
src/test-root
src/test-pipe
src/xde-autostart
src/xde-chooser
src/xde-dockmgr
src/xde-greeter
src/xde-login
src/xde-logout
src/xde-session
src/xde-sm
src/xde-smproxy
src/xde-startwm
src/xde-traymgr
src/xde-wait
src/xde-wmproxy
src/xde-xchooser
src/xde-xlock
src/xde-xlogin
src/xde-xsession
