[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=LXDE Panel
GenericName=lxpanel 0.5.12
Comment=Panel for XDG compliant desktop.
Icon=lxpanel
Exec=sh -c "lxpanel -p ${XDG_CURRENT_DESKTOP:-default}"
TryExec=lxpanel
Terminal=false
Categories=LXDE;System;Utility;
OnlyShowIn=FLUXBOX;BLACKBOX;OPENBOX;PEKWM;WMAKER;ADWM;
StartupNotify=false
StartupWMClass=lxpanel
# Note that LXDE launches this separate from XDG autostart
Hidden=true
# We now use xde-panel only
