[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Calendar Clock Dock App
GenericName=Clock
Comment=Calendar clock dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmCalClock
Exec=wmCalClock
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
StartupNotify=false
StartupWMClass=wmCalClock
X-Arch-Package=wmcalclock
