[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Weather Monitor Dock App Plus
GenericName=Weather
Comment=Monitor weather conditions
Icon=GNUstep3D
Exec=wmweather+ -s CYEG
TryExec=/usr/bin/wmweather+
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
StartupNotify=false
Actions=CYEG;

[Desktop Action CYEG]
Name=METAR Station CYEG
Icon=GNUstep3D
Exec=wmweather+ -s CYEG
