[Unit]
Description=X-Window Display Manager
Conflicts=getty@tty7.service
After=systemd-user-sessions.service getty@tty1.service

[Service]
ExecStart=/usr/bin/xdm -nodaemon -config /etc/X11/xdm/xde/xdm-config
IgnoreSIGPIPE=no
RestartSec=1s
TimeoutStopSec=5s
Type=notify
NotifyAccess=all

[Install]
Alias=display-manager.service
