[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=System Tray Docker
GenericName=System Tray
Comment=Provide a system tray in the dock
Icon=GNUstep3D
Exec=docker -wmaker -iconsize 16
TryExec=/usr/bin/docker
Terminal=false
Categories=DockApp;WMAKER;
#only necessary in WMs that do not have a systray
OnlyShowIn=BLACKBOX;WMAKER;PEKWM;
StartupNotify=false
#use wmsystemtray instead
Hidden=true
X-Arch-Package=docker-tray
