[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Alarm Clock Dock App
GenericName=Clock
Comment=Alarm clock dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmclockmon
Exec=wmclockmon
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
StartupNotify=false
StartupWMClass=wmclockmon
X-Arch-Package=wmclockmon
