[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Network Device Monitor
GenericName=Monitor
Comment=Monitor network interfaces in a dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmnd
Exec=wmnd
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
StartupNotify=false
