[Desktop Entry]
Type=Application
Name=Enlightenment
Name[sr]=Просвећење
GenericName=Window Manager
GenericName[fr]=Gestionnaire de Fenêtres
GenericName[pt]=Gestor de Janelas
Comment=Log in using Enlightenment (Version 0.19.5)
Comment[ca]=Iniciar sessió amb Enlightenment (Versió 0.19.5)
Comment[de]=Anmelden und Enlightenment verwenden (Version 0.19.5)
Comment[el]=Είσοδος με το Enlightenment (Έκδοση 0.19.5)
Comment[eo]=Ensaluti pere de Enlightenment (Versio 0.19.5)
Comment[es]=Iniciar sesión usando Enlightenment (Versión 0.19.5)
Comment[fi]=Kirjaudu käyttäen Enlightenmentiä (versio 0.19.5)
Comment[fr]=Ouvrir une session Enlightenment (Version 0.19.5)
Comment[gl]=Iniciar sesión usando Enlightenment (Versión 0.19.5)
Comment[it]=Accedi con Enlightenment (Versione 0.19.5)
Comment[ko]=Enlightenment 로그인(버전 0.19.5)
Comment[ms]=Daftar masuk menggunakan Enligtenment (Versi 0.19.5)
Comment[pt]=Iniciar sessão no Enlightenment (Versão 0.19.5)
Comment[ru]=Войти используя Enlightenment (Версия 0.19.5)
Comment[sr]=Пријавите се за коришћење Просвећења (издања 0.19.5)
Comment[tr]=Enlightenment kullanarak giriş yaın (Version 0.19.5)
Icon=/usr/share/enlightenment/data/images/enlightenment.png
TryExec=/usr/bin/enlightenment_start
Exec=/usr/bin/enlightenment_start
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-WMName=Enlightenment
X-AppInstall-Package=enlightenment
X-AppInstall-Section=extra
X-Arch-Package=enlightenment 0.19.5-1
X-Arch-Package-Repository=extra
X-Arch-Package-Name=enlightenment
X-Arch-Package-Version=0.19.5-1
X-Arch-Package-Description=Enlightenment window manager
X-Arch-Package-Groups=None
X-Arch-Package-URL=http://www.enlightenment.org
DesktopNames=ENLIGHTENMENT
X-LightDM-DesktopName=enlightenment
Actions=XDE;

[Desktop Action XDE]
Name=XDE
Comment=Englightenment in an XDE Session
Icon=xde
TryExec=/usr/bin/xde-session
Exec=xde-session -desktop ENLIGHTENMENT -startwm start-enlightenment
DesktopNames=XDE:ENLIGHTENMENT
X-LightDM-DesktopName=xde

[Window Manager]
Name=elightenment
SessionManaged=false
StartupNotification=true
X-XDE-Managed=true
