[Desktop Entry]
Type=Application
Name=Metacity
Name[af]=Metacity (GNOME)
Name[ar]=مِتسِتي
Name[bn]=মেটাসিটি
Name[csb]=Metacity (GNOME)
Name[dz]=མེ་ཊ་སི་ཊི།
Name[en@shaw]=·𐑥𐑧𐑑𐑨𐑕𐑦𐑑𐑦
Name[fa]=متاسیتی
Name[fy]=Metacity (GNOME)
Name[gu]=મેટાસીટી
Name[ha]=Metaciti
Name[hi]=मेटासिटी
Name[hne]=मेटासिटी (ग्नोम)
Name[hsb]=Metacity (GNOME)
Name[hy]=Մետասիթի
Name[ia]=Metacity(GNOME)
Name[kk]=Metacity (GNOME)
Name[km]=Metacity (GNOME)
Name[kn]=ಮೆಟಾಸಿಟಿ
Name[ko]=메타시티
Name[mai]=मेटासिटी
Name[ml]=മെറ്റാസിറ്റി
Name[ne]=मेटासिटि
Name[or]=ମେଟାସିଟି
Name[pa]=ਮੈਟਾਸਿਟੀ
Name[se]=Metacity (GNOME)
Name[si]=Metacity (GNOME)
Name[sr@Latn]=Metasiti
Name[sr@ijekavian]=Метасити (Гном)
Name[sr@ijekavianlatin]=Metacity (Gnome)
Name[sr@latin]=Metasiti
Name[sr]=Метасити
Name[ta]=மெட்டாசிட்டி
Name[te]=మెటాసిటి
Name[tg]=Metacity (GNOME)
Name[uz@cyrillic]=Metacity (GNOME)
Name[uz]=Metacity (GNOME)
Name[x-test]=xxMetacity (GNOME)xx
Name[xh]=Imetacity
GenericName=Window Manager
GenericName[fr]=Gestionnaire de Fenêtres
GenericName[pt]=Gestor de Janelas
Comment=Minimal GTK2 Window Manager
Icon=metacity
TryExec=/usr/bin/metacity
Exec=metacity
NoDisplay=true
Categories=WindowManager;Application;System;GTK;
StartupNotify=true
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-WMName=Metacity
X-GnomeWMSettingsLibrary=metacity
X-GNOME-WMSettingsModule=metacity
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=metacity
X-GNOME-Bugzilla-Component=general
X-AppInstall-Package=metacity2
X-AppInstall-Popcon=21934
X-AppInstall-Section=custom
X-Arch-Package=metacity2 2.34.13-1
X-Arch-Package-Repository=custom
X-Arch-Package-Name=metacity2
X-Arch-Package-Version=2.34.13-1
X-Arch-Package-Description=Legacy GNOME window manager
X-Arch-Package-Groups=None
X-Arch-Package-URL=https://wiki.gnome.org/Projects/Metacity
DesktopNames=METACITY
X-LightDM-DesktopName=metacity
X-KDE-WindowManagerRestartArgument=--replace
X-SuSE-translate=true
Actions=XDE;

[Desktop Action XDE]
Name=XDE
Comment=metacity under and XDE session
Icon=xde
TryExec=/usr/bin/xde-session
Exec=xde-session -desktop METACITY -startwm start-metacity
DesktopNames=XDE:METACITY
X-LightDM-DesktopName=xde

[Window Manager]
Name=metacity
SessionManaged=true
StartupNotification=false
X-XDE-Managed=true
