[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=BlackBox Run Command
GenericName=Launcher
Comment=Run Command DockApp
Icon=system-run
TryExec=/usr/bin/bbrun
Exec=bbrun -a -w
Terminal=false
Hidden=true
OnlyShowIn=BLACKBOX;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=bbrun
X-GNOME-Autostart-enabled=true
X-Arch-Package=bbrun 1.6-5
