[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Battery Status Icon
GenericName=System Tray Icon
Comment=System Tray battery status applet.
Icon=battery
TryExec=/usr/bin/cbatticon
Exec=cbatticon
Terminal=false
NotShowIn=GNOME;KDE;XFCE;
Categories=TrayIcon;System;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-Arch-Package=cbatticon-git 0.r83.fb82559-1
Termnal=false
