[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Battery Status Icon
GenericName=cbatticon
Comment=System Tray battery status applet.
Icon=battery
Exec=cbatticon
Terminal=false
NotShowIn=GNOME;KDE;XFCE;
Categories=TrayIcon;System;
StartupNotify=false
X-GNOME-Autostart-enabled=true
Termnal=false
