[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Compton
Comment=An X compositor
Icon=xcompmgr
TryExec=compton
Exec=compton --config ~/.config/compton/FLUXBOX/compton.conf
Terminal=false
Hidden=true
OnlyShowIn=FLUXBOX;BLACKBOX;OPENBOX;ICEWM;WMAKER;FVWM;JWM;PEKWM;ADWM;
Categories=Utility;
StartupNotify=false
