[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Network Configurator
GenericName=DHCP Client Daemon Applet
Comment=Configure and monitor your network connections
Icon=dhcpcd
TryExec=dhcpcd-gtk
Exec=dhcpcd-gtk
Terminal=false
NotShowIn=GNOME;KDE;XFCE;
Categories=TrayIcon;System;Network;
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-Arch-Package=dhcpcd-ui 0.7.3-1
