[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Network Configurator
GenericName=DHCP Client Daemon Applet
Comment=Configure and monitor your network connections
Icon=dhcpcd
TryExec=dhcpcd-gtk
Exec=dhcpcd-gtk
Terminal=false
NotShowIn=GNOME;KDE;XFCE;
Categories=TrayIcon;Network;System;GTK;
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-AppInstall-Package=dhcpcd-ui
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=dhcpcd-ui 0.7.3-1
X-Arch-Package-Name=dhcpcd-ui
X-Arch-Package-Version=0.7.3-1
X-Arch-Package-Description=dhcpcd Monitor in GTK+
X-Arch-Package-URL=http://roy.marples.name/projects/dhcpcd-ui
