[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=System Tray Docker
GenericName=System Tray
Comment=Provide a system tray in the dock
Icon=GNUstep3D
TryExec=/usr/bin/docker
Exec=docker -wmaker -iconsize 16
Terminal=false
Hidden=true
OnlyShowIn=BLACKBOX;WMAKER;PEKWM;ADWM;
Categories=DockApp;WMAKER;
StartupNotify=false
X-AppInstall-Package=docker-tray
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=docker-tray 1.5-3
X-Arch-Package-Name=docker-tray
X-Arch-Package-Version=1.5-3
X-Arch-Package-Description=Docker is a docking application (WindowMaker dock app) which acts as a system tray for KDE and GNOME2.
X-Arch-Package-URL=http://icculus.org/openbox/2/docker/
