[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Gatotray System Monitor
GenericName=System Monitor
Comment=Graphical CPU stats monitor in the system tray
Icon=utilities-system-monitor
TryExec=gatotray
Exec=gatotray
Terminal=false
OnlyShowIn=FLUXBOX;BLACKBOX;
Categories=TrayIcon;System;Utility;GTK;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-AppInstall-Package=gatotray
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=gatotray 2.3-1
X-Arch-Package-Name=gatotray
X-Arch-Package-Version=2.3-1
X-Arch-Package-Description=Graphical CPU stats monitor in the system tray.
X-Arch-Package-URL=http://code.google.com/p/gatotray/
