[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=IceWM Tray
GenericName=System Tray
Comment=System tray for the IceWM
Icon=starred
TryExec=icewmtray
Exec=icewmtray
Terminal=false
Hidden=true
OnlyShowIn=ICEWM;
Categories=ICEWM;System;Utility;
StartupNotify=false
