[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=IceWM Tray
GenericName=System Tray
Comment=System tray for the IceWM
Icon=starred
TryExec=icewmtray
Exec=icewmtray
Terminal=false
NoDisplay=true
OnlyShowIn=ICEWM;
Categories=System;Utility;ICEWM;
StartupNotify=false
X-AppInstall-Package=icewm-git
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=icewm-git 1.3.9.104-1
X-Arch-Package-Name=icewm-git
X-Arch-Package-Version=1.3.9.104-1
X-Arch-Package-Description=A window manager designed for speed, usability, and consistency
X-Arch-Package-URL=https://github.com/bbidulock/icewm
