[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Idesk
Comment=Place icons on the desktop
Icon=folder_home.png
TryExec=idesk
Exec=idesk
Terminal=false
Hidden=true
OnlyShowIn=FLUXBOX;BLACKBOX;ICEWM;OPENBOX;JWM;PEKWM;ADWM;
Categories=Application;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-Arch-Package=idesk 0.7.5-6
X-Arch-Package-Name=idesk
X-Arch-Package-Version=0.7.5-6
X-Arch-Package-Description=gives users of minimal wm's (fluxbox, blackbox, openbox, windowsmaker...) icons on their desktop
X-Arch-Package-URL=http://idesk.sourceforge.net/wiki/index.php
