[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=LXDE Panel
GenericName=lxpanel 0.5.12
Comment=Panel for XDG compliant desktop.
Icon=lxpanel
TryExec=lxpanel
Exec=sh -c "lxpanel -p ${XDG_CURRENT_DESKTOP:-default}"
Terminal=false
Hidden=true
OnlyShowIn=FLUXBOX;BLACKBOX;OPENBOX;PEKWM;WMAKER;ADWM;
Categories=LXDE;System;Utility;
StartupNotify=false
StartupWMClass=lxpanel
