[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Menu Tray
GenericName=Menu
Comment=Menutry fluxbox tray menu
Icon=start-here
Exec=menutray -i
TryExec=menutray
Terminal=false
Categories=TrayIcon;
StartupNotify=false
NotShowIn=GNOME;KDE;XFCE;LXDE;
X-GNOME-Autostart-enabled=true
Hidden=true
# Don't need this anymore
