[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Menu Tray
GenericName=Menu
Comment=Menutry fluxbox tray menu
Icon=start-here
TryExec=menutray
Exec=menutray -i
Terminal=false
Hidden=true
NotShowIn=GNOME;KDE;XFCE;LXDE;
Categories=TrayIcon;
StartupNotify=false
X-GNOME-Autostart-enabled=true
