[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Audio Mixer Tray Icon
GenericName=System Tray Mixer
GenericName[de]=Benachrichtigungsfeld Mixer
GenericName[fr]=Zone de Notification Mixeur
Comment=An audio mixer for the system tray
Comment[de]=Ein Audiomixer für das Benachrichtigungsfeld
Comment[fr]=Un Mixeur Audio pour la Zone de Notification
Icon=multimedia-volume-control
TryExec=/usr/bin/pnmixer
Exec=pnmixer
Terminal=false
NotShowIn=GNOME;KDE;XFCE;LXDE;OPENBOX;ICEWM;WMAKER;JWM;
Categories=TrayIcon;AudioVideo;System;GTK;
StartupNotify=false
X-AppInstall-Package=pnmixer
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=pnmixer 0.5.1-3
X-Arch-Package-Name=pnmixer
X-Arch-Package-Version=0.5.1-3
X-Arch-Package-Description=GTK volume mixer applet that runs in the system tray.
X-Arch-Package-URL=https://github.com/nicklan/pnmixer
X-GNOME-Autostart-enable=true
