[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Retrovol sound mixer
GenericName=Retrovol
Comment=Retrovol sound mixer
Icon=wmaker-sound_mixer.png
TryExec=retrovol
Exec=retrovol -hide
Terminal=false
Hidden=true
NotShowIn=GNOME;KDE;XFCE;LXDE;
Categories=TrayIcon;
StartupNotify=false
X-GNOME-Autostart-enable=true
