[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Session Manager Proxy
GenericName=smproxy
Comment=Start the session manager proxy
Icon=xlogo
TryExec=/usr/bin/smproxy
Exec=smproxy
Terminal=false
Categories=X-X11;Application;X-XTool;
StartupNotify=false
NotShowIn=GNOME;KDE;XFCE;
X-GNOME-Autostart-enabled=false
