[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Session Manager Proxy
GenericName=smproxy
Comment=Start the session manager proxy
Icon=xlogo
TryExec=/usr/bin/smproxy
Exec=smproxy
Terminal=false
NotShowIn=GNOME;KDE;XFCE;
Categories=X-X11;Application;X-XTool;
StartupNotify=false
X-GNOME-Autostart-enabled=false
X-Arch-Package=xorg-smproxy 1.0.6-1
X-Arch-Package-Name=xorg-smproxy
X-Arch-Package-Version=1.0.6-1
X-Arch-Package-Description=Allows X applications that do not support X11R6 session management to participate in an X11R6 session
X-Arch-Package-URL=http://xorg.freedesktop.org/
