[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Launcher Dock App
GenericName=Launcher
Comment=A simple application launcher dock app
Icon=GNUstep3D
TryExec=wmappl
Exec=wmappl
Terminal=false
OnlyShowIn=FLUXBOX;BLACKBOX;LXDE;OPENBOX;WMAKER;PEKWM;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmappl
X-AppInstall-Package=wmappl
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=wmappl 0.71-5
X-Arch-Package-Name=wmappl
X-Arch-Package-Version=0.71-5
X-Arch-Package-Description=wmappl is a simple scrolling application launcher for the WindowMaker dock
X-Arch-Package-URL=http://wmappl.sourceforge.net
