[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Battery Dock App
GenericName=Battery Monitor
Comment=A battery monitor dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmbattery
Exec=wmbattery
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmbattery
X-Arch-Package=wmbattery
