[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Blob Dock App
GenericName=Game
Comment=Show blobs moving around
Icon=GNUstep3D
TryExec=/usr/bin/wmblob
Exec=wmblob
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmblob
X-Arch-Package=wmblob
