[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Bubble Monitor Dock App
GenericName=System Monitor
Comment=Bubble monitor system monitor dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmbubble
Exec=wmbubble
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmbubble
X-Arch-Package=wmbubble
