[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Calendar Clock Dock App
GenericName=Clock
Comment=Calendar clock dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmCalClock
Exec=wmCalClock
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmCalClock
X-Arch-Package=wmcalclock 1.25-6
X-Arch-Package-Name=wmcalclock
X-Arch-Package-Version=1.25-6
X-Arch-Package-Description=A Calendar clock [WindowMaker dockapp] with antialiased text
X-Arch-Package-URL=http://web.archive.org/web/20121018121242/http://dockapps.windowmaker.org/file.php/id/9
