[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Core CPU Load
GenericName=Clock
Comment=Show the usage of each core
Icon=GNUstep3D
TryExec=/usr/bin/wmcore
Exec=wmcore
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmcore
X-Arch-Package=wmcore 0.0.2-11
X-Arch-Package-Name=wmcore
X-Arch-Package-Version=0.0.2-11
X-Arch-Package-Description=A windowmaker dockapp which shows the usage of each core in the system
X-Arch-Package-URL=http://web.archive.org/web/20121114121553/http://dockapps.windowmaker.org/file.php/id/362
