[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=CPU Load Dock App
GenericName=Load Monitor
Comment=Show the CPU load
Icon=GNUstep3D
TryExec=/usr/bin/wmcpuload
Exec=wmcpuload
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmcpuload
X-Arch-Package=wmcpuload
