[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=CPU Load Dock App
GenericName=Load Monitor
Comment=Show the CPU load
Icon=GNUstep3D
TryExec=/usr/bin/wmcpuload
Exec=wmcpuload
Terminal=false
OnlyShowIn=FLUXBOX;BLACKBOX;LXDE;OPENBOX;WMAKER;PEKWM;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmcpuload
X-AppInstall-Package=wmcpuload
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=wmcpuload 1.0.1-2
X-Arch-Package-Name=wmcpuload
X-Arch-Package-Version=1.0.1-2
X-Arch-Package-Description=A WindowMaker dockapp to monitor CPU usage
X-Arch-Package-URL=http://linux.softpedia.com/get/System/Monitoring/WMCPULoad-18753.shtml
