[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Audio Mixer
GenericName=Mixer
Comment=Audio mixer dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmmixer
Exec=wmmixer -w
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmmixer
