[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Audio Mixer
GenericName=Mixer
Comment=Audio mixer dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmmixer
Exec=wmmixer -w
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
StartupNotify=false
StartupWMClass=wmmixer
