[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Network Device Monitor
GenericName=Monitor
Comment=Monitor network interfaces in a dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmnd
Exec=wmnd
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
StartupWMClass=wmnd
X-Arch-Package=wmnd 0.4.17-1
X-Arch-Package-Name=wmnd
X-Arch-Package-Version=0.4.17-1
X-Arch-Package-Description=Dockapp for monitoring network interfaces.
X-Arch-Package-URL=http://www.thregr.org/~wavexx/software/wmnd/
