[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Network Monitor
GenericName=Monitor
Comment=Monitor network interfaces in a dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmnet
Exec=wmnet -w -l
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
X-Arch-Package=wmnet 1.06-4
X-Arch-Package-Name=wmnet
X-Arch-Package-Version=1.06-4
X-Arch-Package-Description=A network monitor applet for WindowMaker
X-Arch-Package-URL=http://www.katharineosborne.com/wmnet/
Actions=Interface1;Interface2;Interface3;Interface4;

[Desktop Action Interface1]
Name=eth0
Icon=GNUstep3D
Exec=wmnet -w -W eth0 -x 1000000000 -l

[Desktop Action Interface2]
Name=eth1
Icon=GNUstep3D
Exec=wmnet -w -W eth1 -x 1000000000 -l

[Desktop Action Interface3]
Name=eth2
Icon=GNUstep3D
Exec=wmnet -w -W eth2 -x 1000000000 -l

[Desktop Action Interface4]
Name=eth3
Icon=GNUstep3D
Exec=wmnet -w -W eth3 -x 1000000000 -l
