[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=WindowMaker System Tray
GenericName=System Tray
Comment=Provide a system tray in the WM dock
Icon=GNUstep3D
TryExec=/usr/bin/wmsystemtray
Exec=wmsystemtray -s
Terminal=false
OnlyShowIn=BLACKBOX;WMAKER;
Categories=DockApp;WMAKER;
StartupNotify=false
