[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Timer Dock App
GenericName=Timer
Comment=Timer dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmtimer
Exec=wmtimer
Terminal=false
OnlyShowIn=FLUXBOX;BLACKBOX;LXDE;OPENBOX;WMAKER;PEKWM;ADWM;WAIMEA;
Categories=DockApp;WMAKER;GTK;
StartupNotify=false
X-AppInstall-Package=wmtimer
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=wmtimer 2.92-4
X-Arch-Package-Name=wmtimer
X-Arch-Package-Version=2.92-4
X-Arch-Package-Description=A dockable WindowMaker app (docklet) alarm clock for which can be run in alarm, countdown timer, or chronograph mode.
X-Arch-Package-URL=http://www.darkops.net/wmtimer/
