[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Timer Dock App
GenericName=Timer
Comment=Timer dock app
Icon=GNUstep3D
TryExec=/usr/bin/wmtimer
Exec=wmtimer
Terminal=false
Categories=DockApp;WMAKER;
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
StartupNotify=false
