[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Weather Monitor Dock App
GenericName=Weather
Comment=Monitor weather conditions
Icon=GNUstep3D
TryExec=/usr/bin/wmWeather
Exec=wmWeather -s CYEG
Terminal=false
OnlyShowIn=FLUXBOX;BLACKBOX;LXDE;OPENBOX;WMAKER;PEKWM;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
X-AppInstall-Package=wmweather
X-AppInstall-Popcon=0
X-AppInstall-Section=main
X-Arch-Package=wmweather 1.31-5
X-Arch-Package-Name=wmweather
X-Arch-Package-Version=1.31-5
X-Arch-Package-Description=Shows local weather conditions in a WindowMaker dockapp
X-Arch-Package-URL=None
Actions=CYEG;

[Desktop Action CYEG]
Name=Metar Station CYEG
Icon=GNUstep3D
Exec=wmWeather -s CYEG
