[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Weather Monitor Dock App Plus
GenericName=Weather
Comment=Monitor weather conditions
Icon=GNUstep3D
TryExec=/usr/bin/wmweather+
Exec=wmweather+ -s CYEG
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
X-Arch-Package=wmweather+ 2.15-1
X-Arch-Package-Name=wmweather+
X-Arch-Package-Version=2.15-1
X-Arch-Package-Description=Downloads the National Weather Service METAR bulletins, ANV and MRF forecasts, and any weather map for display in a WindowMaker dockapp
X-Arch-Package-URL=http://sourceforge.net/projects/wmweatherplus
Actions=CYEG;

[Desktop Action CYEG]
Name=METAR Station CYEG
Icon=GNUstep3D
Exec=wmweather+ -s CYEG
