[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Weather Monitor Dock App
GenericName=Weather
Comment=Monitor weather conditions
Icon=GNUstep3D
TryExec=/usr/bin/wmWeather
Exec=wmWeather -s CYEG
Terminal=false
OnlyShowIn=FLUXBOX;OPENBOX;LXDE;BLACKBOX;PEKWM;WMAKER;ADWM;WAIMEA;
Categories=DockApp;WMAKER;
StartupNotify=false
Actions=CYEG;

[Desktop Action CYEG]
Name=Metar Station CYEG
Icon=GNUstep3D
Exec=wmWeather -s CYEG
