[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=XDE Panel
GenericName=Panel
Comment=Panel for X Desktop Environment.
Icon=perlpanel-panel
TryExec=xde-panel
Exec=sh -c "xde-panel $HOME/.config/xde-panel/${XDG_CURRENT_DESKTOP:-default}/rc.xml"
Terminal=false
OnlyShowIn=FLUXBOX;BLACKBOX;OPENBOX;PEKWM;WMAKER;ECHINUS;SCROTWM;ADWM;WAIMEA;
Categories=XDE;System;Utility;
StartupNotify=true
StartupWMClass=xde-panel
