[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Lock Screen
GenericName=xde-xlock 1.0.135
Comment=XDE screen locker
Icon=gnome-lockscreen
TryExec=/usr/bin/xde-xlock
Exec=xde-xlock
Terminal=false
Categories=Application;System;
StartupNotify=true
