[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=XDE Background
GenericName=Input
Comment=Provide themed multiple backgrounds
Icon=keyboard
TryExec=xde-setbg
Exec=xde-setbg
Terminal=false
NotShowIn=GNOME;KDE;XFCE;LXDE;WMAKER;
Categories=Settings
StartupNotify=false
X-GNOME-Autostart-enabled=false
